/* Hero container styling */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    /* background-color: #f9f9f9; */
    gap: 2rem;
}

/* For larger screens, display as two columns */
@media (min-width: 768px) {
    .hero-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Left Section */
.hero-left {
    flex: 1;
    max-width: 600px;
    text-align: left;
}

.hero-heading {
    font-size: 4rem;
    font-weight: bold;
    color: #007bff;
}

.hero-description {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #212020;
}

.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

.btn {
    margin-bottom: 0.5rem;
    text-align: center;
    text-decoration: none;
}
.btn-one {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-two {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-one {
    background-color: #007bff;
    color: white;
}

.btn-one:hover {
    background-color: #0056b3;
}

.btn-two {
    background-color: white;
    border: 0.5px solid rgb(213, 213, 213);
    color: #007bff;
}

.btn-two:hover {
    border: 0.5px solid #007bff;
}

@media (max-width: 450px) {
    .hero-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn {
        width: 100%;
    }
}

/* Right Section */
.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-video {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 820px) {
    .hero-container {
        display: block;
    }
    .hero-video {
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 1rem;
    }
}

@media (max-width: 640px) {
    .hero-container {
        padding: 1rem;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-heading {
        font-size: 2.5rem;
    }

    .hero-description {
        font-size: 1rem;
    }
}
